<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card-body">
                    <h2>Formulario</h2>
                    <form [formGroup]="prestamoForm" (ngSubmit)="crearPrestamo()">
                        <div class="form-group">
                            <input type="text" formControlName="socio" 
                                 class="form-control" placeholder="Ingresar Socio">
                            <div class="text-danger"
                               *ngIf="prestamoForm.get('socio')?.hasError('required') && 
                                      prestamoForm.get('socio')?.touched">
                               <span>El socio <strong>es obligatorio</strong></span>
                          </div>
                        </div>
                        <br>
                        <div class="form-group">
                          <input type="text" formControlName="copia" 
                               class="form-control" placeholder="Ingresar Copia">
                          <div class="text-danger"
                             *ngIf="prestamoForm.get('copia')?.hasError('required') && 
                                    prestamoForm.get('copia')?.touched">
                             <span>La Copia <strong>es obligatorio</strong></span>
                          </div>
                        </div>
                        <br>
                        <div class="form-group">
                          <input type="date" formControlName="fechaPrestamo" 
                               class="form-control" placeholder="Ingresar Fecha de Prestamo">
                          <div class="text-danger"
                             *ngIf="prestamoForm.get('fechaPrestamo')?.hasError('required') && 
                                    prestamoForm.get('fechaPrestamo')?.touched">
                             <span>La fecha Prestamo <strong>es obligatorio</strong></span>
                          </div>
                        </div>
                        <br>
                        <div class="form-group">
                          <input type="date" formControlName="fechaDevolucion" 
                               class="form-control" placeholder="Ingresar Fecha de Devolucion">
                          <div class="text-danger"
                             *ngIf="prestamoForm.get('fechaDevolucion')?.hasError('required') && 
                                    prestamoForm.get('fechaDevolucion')?.touched">
                             <span>La fecha de Devolucion <strong>es obligatorio</strong></span>
                          </div>
                        </div>
                        <br>
                        <div class="form-group">
                          <input type="form-check-input" formControlName="entregado" 
                               class="form-control" placeholder="Ingresar entregado">
                               <label for="form-check-label" formControlName="entregado"></label>
                          <div class="text-danger"
                             *ngIf="prestamoForm.get('entregado')?.hasError('required') && 
                                    prestamoForm.get('entregado')?.touched">
                             <span>Los entregado <strong>es obligatorio</strong></span>
                          </div>
                        </div> 
                        <div class="form-group">
                          <input type="form-check-input" formControlName="copias" 
                               class="form-control" placeholder="Ingresar Copias">
                               <label for="form-check-label" formControlName="copias"></label>
                          <div class="text-danger"
                             *ngIf="prestamoForm.get('copias')?.hasError('required') && 
                                    prestamoForm.get('copias')?.touched">
                             <span>Las copias <strong>es obligatorio</strong></span>
                          </div>
                        </div> 
                        <br>
                        <div  class="col-sm-12 text-right">
                          <div class="panel-body buttons-margin">
                             <button type="submit" [disabled]="prestamoForm.invalid"  class="btn btn-w-md btn-success mr-2">Guardar</button>&nbsp;&nbsp;
                             <button class="btn btn-w-md btn-warning" routerLink="/prestamos">Cancelar</button>
                          </div>
                        </div>  
                      </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
